 
html {
    font-size: 16px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  
  body {
    font-family: Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1rem;
    line-height: 1.5;
    color: #333333;
    background-color: #f8f9fa;
  }
  
  a {
    color: #4285f4;
    text-decoration: none;
    outline: none;
  }
  
  a:focus, a:hover {
    text-decoration: underline;
    outline: none;
    color: #0d5bdd;
    outline-offset: -2px;
  }
  
  p {
    margin-bottom: 1rem;
  }
  
  .lead, p.lead {
    font-size: 1.25rem;
    font-weight: 300;
  }
  
  h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-bottom: 0.5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
  }
  
  h1, .h1 {
    font-size: 1.5rem;
    font-weight: 400;
  }
  
  h2, .h2 {
    font-size: 1.25rem;
    font-weight: 500;
  }
  
  h3, .h3 {
    font-size: 1rem;
    font-weight: 400;
  }
  
  h4, .h4 {
    font-size: 0.8125rem;
    font-weight: 500;
  }
  
  h5, .h5 {
    font-size: 0.8125rem;
    font-weight: 400;
  }
  
.login-bg {
    background: url(../images/login-bgnew.png) no-repeat;
    min-height:650px;
    background-size: 100%;
   
}
.copy-rights1 {
    background: rgb(243 102 104 / 68%);
    min-height: 40px;
    width: 100%;
    z-index: 999;
    color: rgb(255, 255, 255);
    margin-top: 0px !important;
}
.direct:hover{
    background-color: salmon !important;

}
.copy-rights {
    background: rgb(243 102 104 / 68%);
    min-height: 40px;
    width: 100%;
    z-index: 999;
    color: rgb(255, 255, 255);
    margin-top: 30px;

}
.Submit-right {
    float: right;
}
.rounded-submit {
    border-radius: 100px;
    width: 114px;
}
p.copy {
    line-height: 46px;
    font-size: 13px;
    margin-bottom: 0px;
}
.powered {
    line-height: 46px;
    font-size: 13px;
    margin-bottom: 0px;
    float: right;

}
.powered a {
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
}
.Welcome-text {
    color: #fff;
    margin-top: 100px;
   }
   .Welcome-text h2 {
    font-weight: 700;
   }
   .welcome-text p {
    font-size: 14px;
    margin-top: 25px;
    color: #fff;
    font-weight: 100;
    width: 600px;
}
.welcome-form {
    min-height:513px;
    background: #fff;
    margin-top: 100px;
}
.powered-by {
    padding: 0px;
}
.Herbogenix-logo {
    margin-top: 20px;
    margin-bottom: 20px;
}
.login-s2 {
    margin-top: 50px;
    min-height: 462px;
}
.login-s2 h3 {
    margin-bottom: 17px;
    font-weight: 400;
    text-align: center;
    color: #15326a;
    font-size: 16px;
}
@media (min-width:120px) and (max-width:360px) {
    .login-bg {
        background: url(../images/login-bgnew.png) no-repeat;
        min-height:900px;
       
    }
    .welcome-form {
        min-height: 513px;
        background: #fff;
        margin-top: 2px;
    }
    
}

.ts-rtc {
    border-color: #fe1e49 !important;
   
    background-color:#fe1e49 !important;
}
.ag {
    font-size: 13px;
    font-weight: 600;
}
.ts-rtc {
    float: right;
}
.rtc-header {
    background-color: #a8824c;
    padding: 10px;
}
.rtc-booking h3 {
    text-align: left;
    color: white;
    font-size: 13px;
    margin-top: 13px;
    margin-bottom: 14px;
    background-color: #257641;
    padding: 9px;
}

.rtc-booking {
    padding: 0px;
    font-size:25px;
    font-weight: 500;
}
.Depot {
    font-size: 13px;
    font-weight: 500;
}
.rtc-in {
    padding: 7px;
}
.bus-names {
    font-size: 12px;
    
}
.area {
    margin-left: 57px;
    width: 416px;
}
.rtc-details label {
   padding-left: 30px !important;
}
.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
