@media (min-width: 360px) and  (max-width: 640px) {
   .Herbogenix-logo img {
       width: 100%;
   }
   .welcome-form {
    min-height: 513px;
    background: #fff;
    margin-top: 2px;
}
.login-bg {
    background: url(../images/login-bgnew.png) no-repeat;
    min-height: 673px;
}
.Depot {
    font-size: 13px;
    margin-left: 14px;
}
.area {
    margin-left: 13px;
    width: 341px;
}
.bus-names {
    font-size: 12px;
    width: 334px !important;
}
.rtc-details label {
    padding-left: 7px !important;
}
.welcome-form {
    min-height: 470px;
    background: #fff;
    margin-top: -54px;
}
.booking-cargo {
    margin-left: 30px;

}
.Submit-right {
    float: right;
    margin-right: 30px;
}
.login-s2 {
    margin-top: 50px;
    min-height: 518px;
}
.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

  }

  @media (min-width: 400px) and  (max-width: 700px) {
    .bus-names {
        font-size: 12px;
        width: 370px !important;
    }
    @media (min-width: 540px) and  (max-width: 720px) {
        .bus-names {
            font-size: 12px;
            width: 508px !important;
        }

  }
}
